### Домашнее задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
data_movie = pd.read_csv('ratings.csv')
data_movie.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def rating_class(class_):
    if class_ <= 2:
        return 'low rating'
    elif 2 < class_ <= 4:
        return 'good'
    elif class_ > 4:
        return 'excelent'

In [4]:
# использую название столбца class_ с нижним подчеркиванием вместо class. Так как это совпадает с какой-то внутренней командой
data_movie['class_'] = data_movie['rating'].apply(rating_class)
data_movie.head(20)

    userId  movieId  rating   timestamp      class_
0        1       31     2.5  1260759144        good
1        1     1029     3.0  1260759179        good
2        1     1061     3.0  1260759182        good
3        1     1129     2.0  1260759185  low rating
4        1     1172     4.0  1260759205        good
5        1     1263     2.0  1260759151  low rating
6        1     1287     2.0  1260759187  low rating
7        1     1293     2.0  1260759148  low rating
8        1     1339     3.5  1260759125        good
9        1     1343     2.0  1260759131  low rating
10       1     1371     2.5  1260759135        good
11       1     1405     1.0  1260759203  low rating
12       1     1953     4.0  1260759191        good
13       1     2105     4.0  1260759139        good
14       1     2150     3.0  1260759194        good
15       1     2193     2.0  1260759198  low rating
16       1     2294     2.0  1260759108  low rating
17       1     2455     2.5  1260759113        good
18       1     2968     1.0  1260759200  low rating
19       1     3671     3.0  1260759117        good

In [5]:
good_class = data_movie[data_movie.class_ == 'good']
#data_movie.class_.unique()

In [7]:
data_movie.groupby('class_').count().head()

            userId  movieId  rating  timestamp
class_
excelent     22818    22818   22818      22818
good         63801    63801   63801      63801
low rating   13385    13385   13385      13385